@model Blog

<form method="post">
    <input asp-for="BlogId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Blog</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="BlogTitle" class="p-0">Blog Title</label>
            <input asp-for="BlogTitle" type="text" class="form-control" />
            <span asp-validation-for="BlogTitle" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="BlogContent" class="p-0">Blog Content</label>
            <input asp-for="BlogContent" type="text" class="form-control" />
            <span asp-validation-for="BlogContent" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="BlogCategory" class="p-0">Blog Category</label>
            <input asp-for="BlogCategory" type="text" class="form-control" />
            <span asp-validation-for="BlogCategory" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="NoOfSubscriptions" class="p-0">No of Subscriptions Allowed</label>
            <input asp-for="NoOfSubscriptions" type="text" class="form-control" />
            <span asp-validation-for="NoOfSubscriptions" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Blog" asp-action="Index" class="btn btn-secondary border  form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
} 