@model DataAccess.Models.DTO.Blog.BlogUpdateDTO

<form asp-action="UpdateBlog">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Update Blog</h1>
        <hr />
        <input hidden asp-for="BlogId" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="BlogTitle">Blog Title</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="BlogTitle" class="form-control" />
                <span asp-validation-for="BlogTitle" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="BlogContent">Blog Content</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="BlogContent" class="form-control" />
                <span asp-validation-for="BlogContent" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="BlogCategory">Blog Category</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="BlogCategory" class="form-control" rows="5" />
                <span asp-validation-for="BlogCategory" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="NoOfSubscriptions">No of Subscriptions Allowed</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="NoOfSubscriptions" class="form-control" />
                <span asp-validation-for="NoOfSubscriptions" class="text-danger"></span>
            </div>


            <div class="col-5 offset-2">
                <a asp-action="Index" asp-controller="Blog" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}